NET "ps2_clk" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "data" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;

NET "x<0>"  LOC = "F9" | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8 ; 
NET "x<1>"  LOC = "E9" | IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=8 ; 
NET "x<2>"  LOC = "D11" | IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=8 ; 
NET "x<3>"  LOC = "C11" | IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=8 ; 
//NET "led[4]"  LOC = "F11" | IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=8 ; 
//NET "led[5]"  LOC = "E11" | IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=8 ; 
//NET "led[6]"  LOC = "E12" | IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=8 ; 
//NET "led[7]"  LOC = "F12" | IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=8 ; 
NET "ps2_clk" CLOCK_DEDICATED_ROUTE = FALSE;